@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 66 92 90;
  --color-primary-dark: 61 86 84;
  --color-main-bg: 225 236 235;
  --color-accent: 201 156 51;
  --ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .dashed {
    background: repeating-linear-gradient(90deg, rgb(var(--color-main-bg)) 0 9px, #0000 0 14px);
  }

  .clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }

  .conic-gradient {
    background: conic-gradient(rgb(var(--color-accent)), rgb(var(--color-accent) / 0));
  }
}

* {
  min-width: 0;
}

nav::-webkit-scrollbar {
  width: 4px;
}
nav::-webkit-scrollbar-track {
  background-color: transparent;
}
nav::-webkit-scrollbar-thumb {
  background: #3335;
  border-radius: 9999px;
}

.grid-cols-search {
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .grid-cols-search {
    grid-template-columns: 1fr 12rem;
  }
}

@media screen and (min-width: 1040px) {
  .grid-cols-search {
    grid-template-columns: 1fr 12rem 12rem;
  }
}

@media screen and (min-width: 1580px) {
  .grid-cols-search {
    grid-template-columns: 1fr 14.375rem 14.375rem;
  }
}
