@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 66 92 90;
  --color-main-bg: 225 236 235;
  --color-accent: 201 156 51;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  min-width: 0;
}
